.container {
  padding: 20px;
}
.container > h1 {
  margin-top: 50px;
  width: 30%;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}
.container > h2 {
  padding: 30px 0;
  text-align: center;
  /* border-bottom: 1px solid black; */
}

.skillsContainer {
  /* padding: 40px 20px 30px 20px; */
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: ; */
  gap: 5px;
  background-color: white;
}
.container2 {
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%) !important;
  /* background-color: #5ca9fb; */
  width: 45%;
  margin-top: 10px;
  flex-grow: 1;
}
.container2 > h4 {
  margin: 5px;
  margin-bottom: 10px;
  text-align: center;
}
.crown {
  text-align: right;
  padding: 10px;
  font-size: 26px;
  color: gold;
}
.container2 h2 {
  margin: 0;
  text-align: center;
}
.list {
  /* background-color: aqua; */
  text-align: center;
  margin: 0;
  padding: 0;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  height: 55px;
  /* width: 100%; */
}
/* .buttonContainer > div > a {
  border: 1px solid red;
  width: 100%;
} */

.buttonContainer > a {
  cursor: pointer;
  user-select: none;
  width: 40%;
  /* gap: 10px; */
  display: inline-block;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid black;
}
.buttonContainer > a:hover {
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%) !important;
  color: white;
  /* border: 2px solid white; */
  /* border: 0; */
}
.buttonContainer > a:active {
  box-shadow: #bbb -1px 3px 5px;
}

.item span {
  font-family: sans-serif;
  font-size: 24px;
}
.intro {
  text-align: left;
  padding: 20px;
  margin: 0;
  font-size: 20px;
  line-height: 30px;
}
.imageContainer {
  text-align: center;
  padding: 20px;
}

.imageContainer img {
  width: 100%;
}

.project1 {
  background-color: #ccc;
  margin-top: 50px;
  border: 1px solid #ccc;
  padding: 10px;
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.project > div {
  width: 40%;
}
.github {
  /* border: 1px solid red; */
  font-size: 25px;
  text-align: right;
}
@media screen and (max-width: 750px) {
  .skillsContainer {
    flex-direction: column;
    background-color: white;
    /* gap: 10px; */
    /* border: 2px solid black; */
    border-top: 0;
  }
  .container > h2 {
    padding: 30px 0 15px;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    /* margin: inherit auto; */
    text-align: center;
    border-bottom: 1px solid black;
  }
  .container h1 {
    width: 50%;
  }

  .container2 {
    width: 100%;
    margin: 10px 0;
    background-color: #5ca9fb;
  }
  .item {
    width: auto;
    margin: 10px;
  }
  .item span {
    font-size: 18px;
  }
  .project {
    flex-direction: column-reverse;
    align-items: center;
  }
  .project > div {
    width: 100%;
  }
  .project1 > h1 {
    width: 100%;
  }
  .container h1 {
    width: 70%;
  }
}
