.container {
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  /* display: none; */
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
  height: 60px;
}
.container2 {
  align-items: center;
  margin: auto;
  height: 60px;
  width: 85%;
  /* padding: 10px 0; */
  display: flex;
  /* border: 10px solid black; */
  align-items: center;

  justify-content: space-between;
}
.brand {
  flex-shrink: 0;
  font-weight: bold;
  font-size: 32px;
}
.list {
  /* border: 1px solid red; */
  margin: 0;
  list-style: none;
  justify-content: space-between;
  display: flex;
  width: 50%;
  padding: 0;
}
.list li {
  font-weight: bold;
  font-size: 15px;
  transition: font-size 0.3s ease-in;
}
.list li a:hover {
  background-image: linear-gradient(
    to right,
    #6372ff 0%,
    #5ca9fb 100%
  ) !important;
  background-clip: text;
  color: transparent;
}
.list li::after {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%) !important;
  margin-top: 2px;
  transition: all 0.3s ease-in;
}
.active::after {
  height: 1px;
  width: 150% !important;
}
.active {
  font-size: 20px !important;
  background-image: linear-gradient(
    to right,
    #6372ff 0%,
    #5ca9fb 100%
  ) !important;
  background-clip: text;
  color: transparent;
  /* color: transparent; */
}

.toggle {
  display: none;
}
@media screen and (max-width: 750px) {
  .container2 {
    width: 100%;
  }
  .list {
    width: 100%;
  }
  .brand {
    font-size: 24px;
    padding: 0 10px 0 5px;
  }
}
@media screen and (max-width: 800px) {
  .list {
    position: fixed;
    top: 60px;
    right: -1000px;

    background-color: white;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    /* height: 70%; */
    overflow: hidden;
    transition: all 0.4s ease-in;
  }

  .list li {
    user-select: none;
    padding: 20px;
    border-bottom: 1px solid black;
  }
  .list li:hover {
    color: black;
  }

  .toggle {
    display: flex;
    font-size: 35px;
    padding: 10px;
  }
  .active {
    color: black;
    font-size: inherit !important;
    background-color: red !important;
  }
  .active::after {
    height: 0 !important;
  }
  .list li::after {
    display: none !important;
  }
}
