html {
  height: 100%;
}

body {
  margin: 0;
  background-color: #1b262c;
  height: 100%;
  overflow: hidden;

}
.score_box {
  text-align: 'center';
  padding-right: '10px';
  font-size: '1.2rem';
  flex: 2
}
@media(max-height : 400px){
  .score_box{
      display: none;
  }
}