.container {
  padding: 20px;
}
.section {
  margin-top: 50px;
  width: 30%;
  border-bottom: 1px solid black;
}

.container3 {
  padding: 50px;
  padding-top: 30px;
  display: flex;
}
.container2 {
  width: 60%;
}
.hi,
.name {
  margin: 0;
}
.hi {
  margin-bottom: 10px;
}
.name {
  padding-left: 20px;
}
.title {
  margin: 0;
  margin: 10px 0;
  padding-left: 50px;
}
.intro {
  font-size: 20px;
  line-height: 35px;
}
.intro span {
  font-size: 1.3em;
  color: #0000ff;
}
.imageContainer {
  flex-grow: 1;
  text-align: center;
}

@media screen and (max-width: 850px) {
  .container2 {
    width: 100%;
  }
  .container3 {
    padding: 20px;
  }
  .imageContainer {
    display: none;
  }
  .section {
    width: 60%;
  }
  .name {
    font-size: 20px;
  }
  .title {
    font-size: 15px;
    padding-left: 35px;
  }
}
