.gridContainer {
  width: 85%;
}
.container {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 5px;
}
.category {
  margin-top: 4;
  padding: 12px;
  font-size: 35px;
  font-family: sans-serif;
}
@media screen and (max-width: 750px) {
  .gridContainer {
    width: 100%;
    padding: 0 10px;
    /* border: 2px solid red; */
  }
  .container {
    row-gap: 250px;
    margin-top: 100px;
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .container {
    row-gap: 0;
  }
}
