.navigate {
  background-color: white;
  width: 15%;
  font-family: sans-serif;
  font-size: 0.8em;
  position: sticky;
  top: 110px;
  max-height: 400px;
}
.navigate h4 {
  color: #a90a3f;
  padding-left: 5px;
}

.navigateList {
  margin: 0;
  border-left: 3px solid #eee;
  padding: 20px;
  padding-top: 10px;
  list-style: none;
}
.navigateListItem {
  padding: 10px 0px;
}
@media screen and (max-width: 750px) {
  .navigate h4 {
    color: #a90a3f;
    margin-top: 0;
    padding-left: 15px;
  }

  .navigate {
    width: 100%;
    margin-top: 60px;
    position: static;
    overflow-x: auto;
  }
  .navigateList {
    display: flex;
    padding: 0px;
    /* border: 1px solid rebeccapurple; */
    justify-content: space-between;
  }
  .navigateListItem {
    padding: 10px 20px;
    margin: 0 5px;
    border: 3px solid #eee;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
}
