.container{
    width: 50%;
    margin: auto;
    border: 4px solid #062783;
    height: 70vh;
    text-align: center;
    height: auto;

}
@media(max-width : 768px){
 .container{
     width: 100%;
        border: 0;
    } 
}

.button {
    /* display:inline-block;     */
    height: 5rem;
    width: 5rem; 
    /* border: 2px solid #00b7c2; */
    border: 0;
    background-color: #00b7c2;
    border-radius: 100%;
    margin: 10px;
    }
    
.button:not(.active):hover{
    background-color: rgba(255, 0, 0, .3);
}
.button:focus {
    outline: none;
    /* background-color: red; */
    
}
.input:focus {
    outline: none;
    
}
.input{
    width: 60px;
    background-color:#1b262c ;
    font-size: 1rem;
    margin-left: 5px;
    text-align: center;
    color:  #00b7c2;
    border: 0;
    border-radius: 5px;
}
.div{
    display: inline-block;
    width: 50%;
    vertical-align: text-top;
    box-sizing: border-box;
}

.active{
    background-color: red;
}